@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primary: #698087;
  --color-primary2: #b55a2a;
  --color-primary3: #faf2c5;
  --color-secondary: #82786c;
  --color-secondary2: #4d5e63;
  --color-background: #362f27;
  --color-white: #ffffff;
  --color-black: #0000ff;
}

body {
  background-color: #362f27;
  color: #698087;
  overflow-x: clip;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.link-underline {
  padding: 4px;
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#faf2c5, #faf2c5)
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0px 100%
}
