@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #362f27;
  color: #698087;
  overflow-x: clip;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.link-underline {
  padding: 4px;
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#faf2c5, #faf2c5)
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0px 100%
}
